:root {
    --letter-spacing: 0.1rem;
    --fs: 1rem;
    --p-fs: 1.1rem;

    --head-pad: 2% 2% 2% 2%;

    --card-size: 200px;

    --card-grad: #ffffff 0%, #ff5f1f80 10%, #00cccc80 70%, #ffffff 100%;
  /* The above gradient has colour stops to soften top/bottom. */
} 

html {
    /* The default text size in browsers is 16px. So, the default size of 1rem is 16px. */
    font-size: var(--fs);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
  }

body {
  max-width: 90vw;
  margin: auto;
  background-color: hsla(160, 3%, 88%, 0.53);
}

#head {
  padding: var(--head-pad);
  text-align: center;
}

.flexContainer {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    
    padding: 0%;
    margin: 0%;
    /* background-color: grey;  */
    
  }
  .card {
      display: flex;
      flex-flow: column;
      /* gap: 10px; */
      flex: 1 1 200px;
      max-width: 250px;
      padding: 5px; 
      margin: 10px;
      border-radius: 15px;
      background-image: linear-gradient(var(--card-grad));

      
  }

.cardHead {
  text-align: center;
  flex: 1;
}

.pageImg {
  width: 100%;
  flex: 1;
  border-radius: 15px;
}

.cardDesc {
  visibility: hidden;
  text-align: center;
  flex: 1;
}

button {
  min-width: fit-content;
  background-color: aquamarine;
  border-radius: 15px;
}

.card:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 1s ease;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: hsl(81, 92%, 57%);
  }
  .flexContainer {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    
    padding: 0%;
    margin: 0%;
}




