:root {
    --letter-spacing: 0.1rem;
    --fs: 1rem;
    --p-fs: 1.1rem;

    --head-pad: 2% 2% 2% 2%;

    --card-size: 300px;
}

html {
    /* The default text size in browsers is 16px. So, the default size of 1rem is 16px. */
    font-size: var(--fs);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: var(--letter-spacing);
  }

body {
    margin: 0%;
  }

.head {
  padding: var(--head-pad);
  text-align: center;
}

.flexContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0%;
    margin: 0%;
    
}

.cardHead {
  text-align: center;
}

.pageImg {
  padding: 5px;
  width: var(--card-size);
  margin-top: 10px;
}

.cardDesc {
  text-align: center;
}

.page {
    padding: 5px;
    width: var(--card-size);
    margin-top: 10px;
}



